.chosen-container-multi .chosen-choices {
   border-color: #cccccc;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
   height: 32px;
   color: inherit;
}
.inline {
   display: inline;
}
select.error {
   margin-bottom: 0;
}
.emptyFormIcon {
   font-size: 180px; 
   color: #CCCCCC;
}
.emptyFormText {
   font-size: 13px;
   color: #999999;
}
#marks-entry-form .error {
   border-color: #FF0000;
}
#marks-entry-form table input {
   margin-bottom: 0;
}
.highlight {
    background: #FFDC73;
}
table .student-photo {
    height: 100px;
}
small {
    font-size: 11px !important;
}
.parent-dashboard .photo {
    height: auto;
    width: 100%;
}
.parent-dashboard .photo img {
    padding: 1px;
    border: 1px solid #B6B6B6;
}
table.profile {
    width: 100%;
    border: none;
    background: transparent;
}
table.profile tr {
    background: transparent;
}
table.profile th {
    width: 40%;
    text-align: right;
    background: transparent;
}
table.profile th,
table.profile td {
    background: #ffffff;
}
.parent-dashboard .session-detail {
    background: #E56868;
    padding: 10px 0;
    margin-top: 30px;
    color: #ffffff;
}
.parent-dashboard .session-detail span {
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0 30px;
}
.parent-dashboard .session-detail span b {
    text-transform: uppercase;
}
.parent-dashboard .test-subjects {
    margin-top: 15px;
}
.parent-dashboard .test-subjects .test-subject {
    display: block;
    background: #fff;
    padding: 12px 20px;
    height: 155px;
    border-radius: 4px;
    border:1px solid #E7E7E7;
}
.parent-dashboard .test-subjects .test-subject:hover {
    border-color: #D0E4F5;
}
.parent-dashboard .test-subjects .test-subject span {
    display: block;
    clear: both;
}
.parent-dashboard .test-subjects .test-subject span i {
    padding: 0 8px 0 0;
}
.parent-dashboard .test-subjects .test-subject span.subject-name {
    font-size: 18px;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
    color: #111111;
    margin-bottom: 8px;
}
.parent-dashboard .test-subjects .test-subject span.no-of-test {
    font-size: 13px;
    color: #111;
    margin: 0 0 8px;
}
.parent-dashboard .test-subjects .test-subject span.teacher-name {}
.parent-dashboard .test-subjects .test-subject span.teacher-name b {
    display: block;
}
.parent-dashboard .subject-detail {
    margin-top: 30px;
}
.parent-dashboard .subject-detail .sidenav-subject {
    display: block;
    width: 100%;
}
.parent-dashboard .subject-detail table {
    width: 100%;
}
.toolbar .button-group {
    margin-right: 15px;
}
.top-bar form {
    margin: 6px 10px 0 0;
}
.top-bar form select {
    margin:0;
}
.enroll input {
    margin-bottom: 0;
}
.enroll .enrolled-status  {
    color: #368a55;
    margin: 0;
}
.enroll tr.enrolled td {
    background-color: #A2E8BC;
}
.home-list {
    font-size: 13px;
    margin-top: 15px;
}
.home-list li {
    margin-bottom: 7px;
}

/*Navbar resizing*/
.top-bar-section li:not(.has-form) a:not(.button) {
    font-size: 0.78em;
    padding: 0 15px 0 15px;
}

.top-bar-section .has-dropdown > a:after {
    margin-right: 10px;
}

.top-bar-section .has-dropdown > a{
    padding-right:25px !important;
}

ul.dropdown li > a:not(.button){
    max-height: 28px;
}

.top-bar-section .dropdown li:not(.has-form) a:not(.button){
    font-size: 0.75em;  
    line-height:28px;
}
/*End of Navbar resizing*/

.required-input:after {
    color: #FF0000;
    content: " *";
}
