body {margin:0;font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif; font-size: 12px; }
.row {
    float: left;
    width: 100%;
}

.col2 {
    width: 49%;
}

.fr {
    float: right;
}

.fl {
    float: left;
}
.mb20 {
    margin-bottom: 20px;
}
.center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.test-result table {width:100%; border-spacing: 1px 1px;}

.test-result table.header {margin-bottom: 8px;}

.test-result table.header th,
.test-result table.header td {
    padding: 0 0 6px;
    vertical-align: top;
}

.test-result table.header b {
    text-transform: uppercase;
    font-size: 11px;
}

.test-result .data-head {
    background: #555555;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
    /*border-top: 1px solid #111;*/
    /*border-bottom: 1px solid #111;*/
}

.test-result .data-row {
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
    /*border-bottom: 1px solid #111;*/
    background: #555555;
}

.test-result .data-head table,
.test-result .data-row table {
    font-size: 11px;
}

.test-result .data-head table th,
.test-result .data-row table td {
    padding: 2px 10px;
}

.test-result .data-head table th {
    text-transform: uppercase;
    background: #fafafa;
    text-align: left;
}

.test-result .data-row table td {
    /*border-bottom:1px solid #000;*/
    background: #fafafa;
}

.test-result .data-row table tr.topten td {
   background: #d8d8d8;
}

.test-result .data-row table tr.topten.first td {
   background: #A9A9A9;
}

.test-result .data-row table tr.even td {
    background: #fafafa;
}

.test-result .logo-head {
    margin-bottom: 8px;
    position: relative;
}

.test-result .logo-head hr {
    height: 1px;
    background: #000000;
    border: none;
    margin-top: 10px;
}

.test-result .logo-head img {
    width: 70px;
    height: auto;
    position: absolute;
    left: 10px;
}
.test-result .logo-head h3 {
    font-size: 14px;
    margin: 10px 0 18px;
    padding: 0;
}

.test-result .logo-head h1 {
    font-size: 16px;
    margin: 1px 0 6px;
    padding: 0;
}

.test-result .signature {
    float: left;
    width: 100%;
    padding: 60px 0 0;
}
.test-result .signature p {
    padding: 0 40px 0 0;
    margin: 0;
    text-align: right;
}


.assessment-result,
.coscholastic-result {
    page-break-after: always;
    page-break-inside: avoid;
    width:148mm;
    margin-top: 0;
    /*margin: 0 auto;*/
}
.assessment-result .top-head,
.coscholastic-result .top-head {
    margin-bottom: 0.15in;
    width: 148mm;
}
.top-head .logo-row {
    text-align: center;
    font-weight: bold;
    font-size:11px;
}
.assessment-result .top-head .logo-row td {
    padding-bottom: 0px;
}
.assessment-result .top-head .logo-row td pre {
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}
.assessment-result .top-head .school-name {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.assessment-result .top-head h2,
.coscholastic-result .top-head h2 {
    font-size: 18px;
    margin: 0;
    padding: 0;
}
.assessment-result .top-head h3 {
    margin: 8px 0 0;
    font-weight: bold;
}
.assessment-result .top-head h4,
.coscholastic-result .top-head h4{
    margin: 4px 0 0;
}
.assessment-result .top-head hr {
    /*margin:0 0 10px;*/
}
.assessment-result .header {
    width: 148mm;
    font-size: 12px;
    margin: 0 0 8px;
}
.assessment-result .header th.title {
    font-weight: bold;
}
.assessment-result .header th {
    font-weight: normal;
}
.assessment-result table.data,
.coscholastic-result table.data {
    border-collapse: collapse;
    border:1px solid #000000;
    /*table-layout : fixed;*/
    font-size: 11px;
    width:148mm;
}
.assessment-result table.data th,
.coscholastic-result table.data th {
    border:1px solid #000000;
    /*padding: 4px 8px;*/
    height: 32px;
    position: relative;
}
.assessment-result table.data .row-2 th,
.assessment-result table.data .row-3 th,
.coscholastic-result table.data .row-2 th,
.coscholastic-result table.data .row-3 th {
    height: 22px;
}
.assessment-result table.data th strong {
    /*display: block;*/
    /*font-size:14px;*/
    /*height:100px;*/
}
.assessment-result table.data th b,
.coscholastic-result table.data th b {
    display: block;
    /*transform: rotate(270deg);*/
    /*-moz-transform: rotate(270deg);*/
    /*-webkit-transform: rotate(270deg);*/
    /*width: 100px;*/
    /*position: absolute;*/
    /*left: -53px;*/
    /*text-align: left;*/
    /*width: 140px;*/
    /*bottom: 73px;*/
}
.assessment-result table.data td,
.coscholastic-result table.data td {
    border:1px solid #000000;
    padding: 2px 6px;
}
.assessment-result table.data tbody td,
.coscholastic-result table.data tbody td {
   font-weight: bold;
}
.assessment-result table.data tbody td.mark {
   font-weight: bold;
   font-size: 12px;
   text-align: center;
   padding: 2px 0;
}
.assessment-result table.data.profile th,
.assessment-result table.data.profile td {
    height: auto;
    padding: 5px 8px;
    text-align: left;
    vertical-align: top;
}
.assessment-result table.data.profile table {
    width: 100%;
}
.assessment-result table.data.profile table th,
.assessment-result table.data.profile table td {
    border: none;
    /*border-bottom: 1px solid #000000;*/
    padding: 3px 0;
    width: 33%;
    text-align: center;
}
.assessment-result table.footer {
    border-collapse: collapse;
    border: 1px solid #000000;
    width: 148mm;
    margin-top: 10px;
}
.assessment-result table.footer th,
.assessment-result table.footer td{
    border: 1px solid #000000;
    padding: 2px 6px;
   font-weight: bold;
}
.coscholastic-result {

}

.verticalTableHeader {
    /*text-align:left;*/
    /*white-space:nowrap;*/
    /*transform-origin:50% 50%;*/
    /*-webkit-transform: rotate(270deg);*/
    /*-moz-transform: rotate(270deg);*/
    /*-ms-transform: rotate(270deg);*/
    /*-o-transform: rotate(270deg);*/
    /*transform: rotate(270deg);*/

}
/*.verticalTableHeader:before {*/
    /*content:'';*/
    /*padding-top:110%;*//* takes width as reference, + 10% for faking some extra padding */
    /*display:inline-block;*/
    /*vertical-align:middle;*/
/*}*/
.assessment-result table.data .verticalTableHeader.head1 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head2 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head3 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head4 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head5 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head6 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head7 {
    width: 30px;
}
.assessment-result table.data .verticalTableHeader.head8 {
    width: 30px;
}
.assessment-result table.info {
    width: 148mm;
    margin-top: 70px;
}
.assessment-result table.info td {
}
.assessment-result table.info p {
    display: block;
    border-top: 1px dashed #999999;
    padding: 6px 0 0;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    margin-top: 75px;
}
.assessment-result table.info p span {
    display: block;
    margin: 4px 0 0;
    color: #f04124;
    font-weight: bold;
    text-align: center;
}
.lightbox-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.40);
    height: 100%;
    z-index: 10000;
}
.lightbox-loader .progress {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    margin: 0;
    background: #F7F7F7;
    height: 36px;
}
.lightbox-loader .progress .notice {
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 12px;
    color: #7B7979;
    font-family: Verdana;
    line-height: 36px;
    display: block;
    width: 100%;
}
.lightbox-loader .progress .meter {
    background: #66CD58;
    height: 3px;
    display: block;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}
.print-button-wrapper {
    height: 34px;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: 0;
    background: #FFFFFF;
    z-index: 1000;
    padding: 8px 0px;
}
.print-button,
.close-button {
    display: none;
    font-family: Verdana;
    padding: 8px 18px;
    background: #368a55;
    border: 1px solid #297645;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
}
.close-button {
    background-color: #C23131;
    border-color: #D73030;
}
.classwise-result.test-result .data-head table,
.classwise-result.test-result .data-row table {
    font-size: 10px;
}

.idcard-container {
    margin: 0 auto;
    width:174.2mm;
}
.idcard-container .card {
    border:1px solid #222;
    float: left;
    margin: 0 0 10px;
    page-break-before: auto;
    page-break-after: auto;
    page-break-inside: avoid;
}
.idcard-container .card .front {
    width: 85.6mm;
    height:54.02mm;
    float: left;
    border-right:3px double #222;
}
.idcard-container .card .back {
    width: 85.6mm;
    height:54.02mm;
    float: right;
}
.idcard-container .card .front .header {
    width: 100%;
    float: left;
}
.idcard-container .card .front .header .school {
    font-size: 12px;
    margin: 0;
    padding: 5px 0 0;
    text-align: center;
}
.idcard-container .card .front .logo {
    margin: 6px 10px 0 0;
}
.idcard-container .card .front .title {
    float: left;
    width: 100%;
    margin: 4px 0 6px;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    text-align: center;
    padding: 3px 0 2px;
    font-weight: bold;
    font-size: 14px;
}
.idcard-container .card .front .content {
    float: left;
    width: 100%;
}
.idcard-container .card .front .content img {
    float: left;
    margin: 0 6px 0 6px;
}
.idcard-container .card .front .content table {
    font-size: 11px;
}
.idcard-container .card .front .content table tr td,
.idcard-container .card .front .content table tr th {
    padding: 2px 2px;
    /*width: 10px;    */
}
.idcard-container .card .front .content table tr th {
    text-align: right;
}
.idcard-container .card .back .content table {
    font-size: 11px;
}
.idcard-container .card .back .content table tr td,
.idcard-container .card .back .content table tr th {
    padding: 2px 4px 2px 6px;
    /*width: 10px;    */
}
.idcard-container .card .back .content table tr th {
    text-align: right;
}

.idcard-container .card .back {
    position: relative;
}
.idcard-container .card .back .terms {
    font-size: 11px;
    float: left;
    border-bottom: 1px solid #222;
    width: 100%;
    margin: 0 0 10px;
}
.idcard-container .card .back .terms ol {
    padding: 0 15px 0 25px;
    font-size: 11px;
}
.idcard-container .card .back .terms ol li {
    margin: 0 0 4px;
}
.idcard-container .card .back .parents p {
    font-size: 11px;
    margin: 0;
    padding: 0 10px 4px;
}
.idcard-container .card .back .signature {
    position: absolute;
    bottom: 8px;
    right: 0px;
    font-size: 11px;
}
.default-picture {
    font-size: 100px;
    padding: 8px;
    border: 3px solid #888;
    color: #888;
}
.table-data {
    border-collapse: collapse;
}
.table-data thead th {
    border: 1px solid #000000;
    text-transform: uppercase;
    padding: 2px 5px;
    /*width: 10px;*/
}
.table-data tr td {
    border: 1px solid #000000;
    padding: 2px 5px;
}
.avoid-break {
    page-break-inside: avoid !important;
}
.nametag-container {
   margin: 0 auto;
   width:184mm;
}
.nametag-container .card {
   border:1px solid #222;
   float: left;
   margin: 0 5px 10px 0;
   page-break-before: auto;
   page-break-after: auto;
   page-break-inside: avoid;
}
.nametag-container .card .front {
   width: 89mm;
   height:55mm;
   float: left;
}
.nametag-container .card .front .header {
   width: 100%;
   float: left;
   margin-top: 3mm;
}
.nametag-container .card .front .header .school {
   font-size: 14px;
   margin: 0 0 0 14px;
   padding: 15px 0 0;
   text-align: left;
   font-weight: bold;
   line-height: 18px;
}
.nametag-container .card .front .logo {
   margin: 6px 10px 0 0;
}
.nametag-container .card .front .content {
   float: left;
   width: 100%;
   margin-top: 3mm;
}
.nametag-container .card .front .content img {
   float: left;
   margin: 0 10px 0 14px;
}
.nametag-container .card .front .content table {
   font-size: 12px;
}
.nametag-container .card .front .content table tr td,
.nametag-container .card .front .content table tr th {
   padding: 2px 2px;
}
.nametag-container .card .front .content table tr th {
   text-align: right;
}
.result-wide-wrapper {
    page-break-before: always;
    page-break-after: always;
    page-break-inside: avoid;
    width:316mm;
    margin-top: 0;
    /*margin: 0 auto;*/
    clear: both;
    display: flex;
}
.result-wide-separator {
    width: 316mm;
    clear: both;
    text-align: center;
    margin: 0 auto;
    position: relative;
    height:20px;
}
.result-wide-separator span.left {
    float: left;
    width: 50%;
    text-align: center;
    height:20px;
    line-height:20px;
}
.result-wide-separator span.right {
    float: right;
    width: 50%;
    text-align: center;
    height:20px;
    line-height:20px;
}
.result-wide-separator span.red {
    background: #ECDFDF;
}
.result-wide-separator span.blue {
    background: #E1E3F5;
}
.result-wide-column {
    width: 50%;
    float: left;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
.result-wide-column.left {
    background: #f9f9f9;
}
.result-wide-column.right {
    background: #f9f9f9;
    border-left: 1px dotted #666666;
}
.result-wide-column.left .assessment-result {
    padding-right: 5mm;
}
.result-wide-column.right .assessment-result {
    padding-left: 5mm;
}
.result-wide-column div {
    clear: both;
    width: 100%;
}
.report-card-separator {
    width: 316mm;
    height: 30px;
    margin: 20px 0 0;
    background: #000;
    clear: both;
    color: #fff;
    text-align: center;
    line-height:30px;
}
.assessment-result.overall.secondary,
.assessment-result.overall.secondary .top-head,
.assessment-result.overall.secondary .header,
.assessment-result.overall.secondary table.data,
.assessment-result.overall.secondary table.info,
.assessment-result.overall.secondary .coscholastic-result,
.assessment-result.overall.secondary .coscholastic-result .top-head {
    width:100%;
}
.assessment-result.overall.secondary table.data {
    margin-bottom:10px;
}