.close-button,
.print-button,
.print-hide,
.phpdebugbar,
.print-button-wrapper,
.lightbox-loader,
.result-wide-separator{display: none !important;}

.result-wide-column {
    background: none !important;
    border: none !important;
}
