	* {
	margin: 0;
}
html, body {
	/*background-color: gray;*/
	height: 100%;
}
.wrapper {
 	min-height: 100%;
  	height: auto;
  	/* Negative indent footer by its height */
  	margin: 0 auto -60px;
  	/* Pad bottom by footer height */
  	padding: 0 0 60px;
}

	
/*.front#upper{
	padding-top: 100px;
	height: 402px;
}

.front#upper span{
	font-weight: bolder;
	font-size: 2.3em;
}
*/
div#footer{
	color: #fff;
	font-family: 'Franklin Gothic Medium';
	background-color: #094357;
	font-size: 1.4em;
	height:60px;
	line-height: 60px;
}

div#homeFooter{
	color: #fff;
	font-family: 'Franklin Gothic Medium';
	background-color: #004D40;
	font-size: 1.4em;
	height:60px;
	line-height: 60px;
}

nav.navbar.navbar-inverse{
	font-size: 1.2em;
	background-color: #094357;
	/*margin-bottom: 0;*/
}

nav.navbar.navbar-default{
	font-size: 1.2em;
	background-color: #004D40;
	/*margin-bottom: 0;*/
}

.navbar-inverse a.navbar-brand{
	margin-top: 6px;
	padding-left:10px;
	background-color: #094357;
	color: white;
}

nav .badge{
	background-color:white;
	color:black;
}

.navbar-inverse .navbar-nav > li > a {
	margin-top:6px;
	margin-bottom: 0;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #0CC9B3;
}


.navbar-inverse a.navbar-brand:hover{
	text-decoration: none;
	background-color: #094357;
}

.navbar {
     border-radius: 0; 
}

.navbar-default .navbar-nav > li > a:hover {
    color: #0CC9B3;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:#094357; 
    color: #555555;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.trackingBar{
	text-align: center;
	display: inline-block;
}

.trackingCheck{
	margin: 0;
}

.trackingCircle{
	vertical-align: middle;
	display: inline-block;
	height: 2em;
	width: 2em;
	border-radius: 1em;
	background-color: #E1E3E1;
	border: 2px solid #000;
}

.trackingLine{
	border: 2px solid #000;
	vertical-align: middle;
	margin-left: 0;
	display: inline-block;
	width: 9em;
	height: 1em;
	background-color: #E1E3E1;
}

.homeContainer{
	text-align: center;
	padding-top: 5%;
	max-width: 100%;
	min-height: 100%;
}

#logout{
	font-size: 1.4vw;
	margin: 20px;
	float: right;
}

#logout a{
	color: white;
	text-decoration: none;
}

#logout a:hover{
	color: #FFC107;
}

#choose{
	font-size: 2.5vw;
	font-family: Comic;
	color: #fff;
}

.onlineFormCircle{
	margin-left: 40%;
	width: 50%;
}

.onlineFormCircle:hover{
	border-radius: 50%;
	border:5px solid white;
}

.onlineFormCircle:after{

	content: "";
	display: block;
	width: 100%;
    height:0;
    padding-bottom: 100%;
    background-color: #009688; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.onlineFormCircle div{
	font-size: 2.5vw;
	float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}

.leaveCircle{
	margin: auto;
	margin-right: 40%;
	vertical-align: middle; 
	width: 50%;
}

.leaveCircle:hover{
	border-radius: 50%;
	border:5px solid white;
}

.leaveCircle:after{

	content: "";
	display: block;
	width: 100%;
    height:0;
    padding-bottom: 100%;
    background-color: #F44336; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.leaveCircle div{
	font-size: 2.5vw;
	float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    color:white;
}
/*
.status{
	padding: 30px 0 30px 0;
}*/
@media screen and (max-width: 1000px) {
	.leaveCircle{
		margin: auto;
		vertical-align: middle; 
		width: 50%;
	}

	.onlineFormCircle{
		padding-bottom: 10%;
		margin: auto;
		width: 50%;
	}
}

.group-permissions-list {
    height: 400px;
    overflow: auto;
    margin-bottom:20px;
}

/* PROGRESS TRACKER */
.progress-tracker {
  	display: block;
	  margin: 0;
    counter-reset: item;
    list-style-type: none;
    overflow: auto;
    position: relative;
    width: 100%;
}
.progress-tracker .step:before {
	  background: #aaa;
    border-radius: 40px;
    color: #FFFFFF;
    content: "";
    display: list-item;
    font-size: 18px;
    line-height: 1.8em;
    padding: 0 0 0 13px;
    position: absolute;
    width: 35px;
    height: 35px;
	  box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
    content: counter(item) "  "; 
    counter-increment: item;
}
.progress-tracker .step {
	  display: block;
  float: left;
  list-style-position: inside;
  width: 23%;
}
.progress-tracker .step .step-name{
	  border-top: 8px solid #aaa;
  display: block;
  margin: 15px 0;
  padding: 20px 0;
}
/*last step*/
.progress-tracker .step:last-child { width: auto;}
.progress-tracker .step:last-child .step-name{ border-color: transparent;}

/*active step*/
.progress-tracker .step.active .step-name {color: #666}
.progress-tracker .step.active:before {background: #757575;}